.left{
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 21px;
}
.left img{
    height: 42px;
    width: 75px;
}
.left div{
    color: white;
    text-align: center;
}
.mid{
    position: absolute;
    left: 520px;
    top: 21px;
    
}   
.right{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 21px;
}
.btn {
    font-family: "Playwrite PE", cursive;
    background:none;
    color: white;
    margin: 6px 17px;
    border-color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: rgb(97, 93, 93);
}
.btn2:hover{
    background-color: white;
    color: rgb(97, 93, 93);
}
.navbar{
    display: inline-block;
    line-height: normal;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 20px 25px;
}
.navbar li a:hover , .navbar li a.active{
    text-decoration: underline;
    color: #e39191;
    font-size: 25px;
    
}

.container{
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 21px;
    margin: 108px 80px;
    padding: 43px 34px;

}
.h{
    text-align: center;
    font-weight: 50%;
}
.form-group input{
    font-size: 15px;
    text-align: center;
    display: block;
    width: 96%;
    margin: 27px auto;
    padding: 3px 0px;
    border-radius: 15px;
    font-family: "Playwrite PE", cursive;
}
.form-group input:hover{
    font-size: 20px;
}
.btn2{
    font-family: "Playwrite PE", cursive;
    background:none;
    color: white;
    margin: 6px 140px;
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.tab{
    border: 2px solid rgb(226, 209, 209);
    border-radius: 10px;
    color: white;
    position: absolute;
    right: 150px;
    top: 180px;
    text-align: center;
    padding: 10px; 
}
th, td {
    border: 1px solid #ffffff;
    padding: 4px;
}
.p1{
    font-weight: bolder;
    font-size: 18px;
}
.im{
    position: fixed;
    right: 200px;
    bottom: 60px;
}
.p2{
    color: white;
    position: fixed;
    right: 90px;
    bottom: 48px;
    font-weight: bolder;
}